@model   IEnumerable<Web.Areas.Articles.Controllers.TagCloudPartialModel>


 
@if (@Model == null)
{ 
    <span  id="TagCloudPartial"  class="hand partialLoad collapser">  show </span>  
}
else
{  
    <span class="hand collapser expanded "> hide </span>  
    <div>
    @foreach (var r in Model)
    { 
        <div> @r.Name    </div>                  
    }
    </div>
} 
 